article {
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    width: 24em;
    margin: 0;
    padding: 1em;

    font-size: 14px;
    color: white;
    background-color: rgba(36, 36, 36, 0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.mine-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.25em;
    font-size: 10px;
}

button {
    display: inline-block;

    padding: 0.25em 0.5em;
    margin: 0;
    border: none;

    font-size: 8px;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    
    filter: saturate(50%);
}

button:hover {
    filter: brightness(120%);
}

button:active {
    filter: brightness(80%);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0.5em;

    margin: 0;
    padding: 0;

    font-size: 150%;
    font-weight: bold;
}

.state {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    font-size: 50%;
    line-height: 100%;
}

small {
    margin: 0;
    padding: 0;

    color: #9b9b9b;
    font-size: 50%;
}

ol {
    margin: 0;
    padding: 0;
    padding-left: 2em;
}


button.add {
    background-color: rgb(75, 141, 255);
}

button.forq {
    background-color: rgb(255, 69, 0);
}

button.blacklist {
    background-color: rgb(119, 119, 119);
}

button.never-forget {
    background-color: rgb(112, 192, 0);
}

button.nothing {
    background-color: rgb(255, 0, 0);
}

button.something {
    background-color: rgb(255, 0, 0);
}

button.hard {
    background-color: rgb(255, 69, 0);
}

button.good {
    background-color: rgb(112, 192, 0);
}

button.easy {
    background-color: rgb(75, 141, 255);
}


.state .unparsed {}

.state .locked {
    color: rgb(119, 119, 119);
}

.state .suspended {
    color: rgb(119, 119, 119);
}

.state .blacklisted {
    color: rgb(119, 119, 119);
}

.state .never-forget {
    color: rgb(112, 192, 0);
}

.state .not-in-deck {
    color: rgba(75, 141, 255);
}

.state .new {
    color: rgb(75, 141, 255);
}

.state .learning {
    color: rgb(94, 167, 128);
}

.state .known {
    color: rgb(112, 192, 0);
}

.state .due {
    color: rgb(255, 69, 0);
}

.state .failed {
    color: rgb(255, 0, 0);
}