article {
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    max-width: 40em;
    min-width: 24em;
    margin: 0;
    padding: 1em;

    font-size: 14px;
    color: white;
    background-color: rgba(36, 36, 36, 0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0.5em;

    margin: 0;
    padding: 0;

    font-size: 150%;
    font-weight: bold;
}

div[role=textbox] {
    border: 1px solid white;
    border-radius: 4px;
    padding: 0.25em;
}