:where(rt) {
    user-select: none;
    pointer-events: none;
}

:where(.jpdb-word ruby, .jpdb-word rt) {
    color: inherit !important;
    font-size: inherit;
}

:where(.jpdb-word rt) {
    font-size: 60%;
}

:where(.jpdb-word:not(.unparsed):hover) {
    text-decoration: underline;
}

/* :where(.jpdb-word.unparsed) { } */

:where(.jpdb-word.locked) {
    color: rgb(119, 119, 119);
}

:where(.jpdb-word.suspended) {
    color: rgb(119, 119, 119);
}

:where(.jpdb-word.blacklisted) {
    color: rgb(119, 119, 119);
}

:where(.jpdb-word.never-forget) {
    color: rgb(112, 192, 0);
}

:where(.jpdb-word.not-in-deck) {
    color: rgba(75, 141, 255, 0.5);
}

:where(.jpdb-word.new) {
    color: rgb(75, 141, 255);
}

:where(.jpdb-word.learning) {
    color: rgb(94, 167, 128);
}

:where(.jpdb-word.known) {
    color: rgb(112, 192, 0);
}

:where(.jpdb-word.due) {
    color: rgb(255, 69, 0);
}

:where(.jpdb-word.failed) {
    color: rgb(255, 0, 0);
}
