.jpdb-word:not(.unparsed):hover {
    text-decoration: underline;
}

.jpdb-word.unparsed {}

.jpdb-word.locked {
    color: rgb(119, 119, 119);
}

.jpdb-word.suspended {
    color: rgb(119, 119, 119);
}

.jpdb-word.blacklisted {
    color: rgb(119, 119, 119);
}

.jpdb-word.never-forget {
    color: rgb(112, 192, 0);
}

.jpdb-word.not-in-deck {
    color: rgba(75, 141, 255, 0.5);
}

.jpdb-word.new {
    color: rgb(75, 141, 255);
}

.jpdb-word.learning {
    color: rgb(94, 167, 128);
}

.jpdb-word.known {
    color: rgb(112, 192, 0);
}

.jpdb-word.due {
    color: rgb(255, 69, 0);
}

.jpdb-word.failed {
    color: rgb(255, 0, 0);
}